.languages {
  object-fit: contain;
  object-position: center;
  height: 150px;
}

.choose-language-title {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.choose-language-form {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.choose-language-form + label {
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  // border: 1px solid #7E73FF;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

.choose-language-form .submit-button {
  width: 100%;
  font-family: "Press Start 2P", cursive;
  margin-top: 20px;
  font-size: 30px;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #080808;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.choose-language-form:checked .submit-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.category-item:checked + label {
  background-color: $red;
  color: white;
}
