/* Styles for the Choose Level page */
.choose-level-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: white;
}

.choose-level-form {
  padding: 10px 20px;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.choose-level-form .submit-button {
  width: 100%;
  font-family: "Press Start 2P", cursive;
  margin-top: 20px;
  font-size: 18px;
  opacity: 0,3;
  color: white;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #000;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.choose-level-form .submit-button:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
