.languages {
  object-fit: contain;
  object-position: center;
  height: 60px;
}

label .badge-languages {
  transition: all ease-in-out 0.3s;
}

// RUBY

#qcm_languages_ruby + label {
  color: $red;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

#qcm_languages_ruby:checked + label .badge-languages {
  background-color: $red !important;
  border-color: $red !important;
  color: white;
}

#qcm_languages_ruby:hover + label .badge-languages {
  background-color: $red !important;
  border-color: $red !important;
  color: white;
}

// javascript

#qcm_languages_javascript + label {
  color: $yellow;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

#qcm_languages_javascript:checked + label .badge-languages {
  background-color: $yellow !important;
  border-color: $yellow !important;
  color: white;
}

#qcm_languages_javascript:hover + label .badge-languages {
  background-color: $yellow !important;
  border-color: $yellow !important;
  color: white;
}

// HTML

#qcm_languages_html + label {
  color: $blue;
  font-family: "Nunito", "Helvetica", "sans-serif";
}

#qcm_languages_html:checked + label .badge-languages {
  background-color: $blue !important;
  border-color: $blue !important;
  color: white;
}

#qcm_languages_html:hover + label .badge-languages {
  background-color: $blue !important;
  border-color: $blue !important;
  color: white;
}

.gif-language {
  margin-right: 7px;
  padding: 10px;
  margin-bottom: -78px;
  width: 163px;
}

.bg-white {
  --bs-bg-opacity: 0;
}

h6 {
  margin: 20px;
}
