.badge-level {
  font-family: "Nunito";
  color: black;
  p {
    font-size: 18px !important;
    color: black !important;
    text-shadow: none !important;
    margin-bottom: 0px !important;
  }
}

.text-color-1 {
  color: $green;
}

.text-color-2 {
  color: $orange;
}

.text-color-3 {
  color: $red;
}

#qcm_level_1 + label .badge-level {
  border: 5px solid transparent !important;
  transition: all ease-in-out 0.3s;
}

#qcm_level_2 + label .badge-level {
  border: 5px solid transparent !important;
  transition: all ease-in-out 0.3s;
}

#qcm_level_3 + label .badge-level {
  border: 5px solid transparent !important;
  transition: all ease-in-out 0.3s;
}

#qcm_level_1:checked + label .badge-level {
  border: 5px solid $green !important;
}

#qcm_level_2:checked + label .badge-level {
  border: 5px solid $orange !important;
}

#qcm_level_3:checked + label .badge-level {
  border: 5px solid $red !important;
}

#qcm_level_1:hover + label .badge-level {
  border: 5px solid $green !important;
}

#qcm_level_2:hover + label .badge-level {
  border: 5px solid $orange !important;
}

#qcm_level_3:hover + label .badge-level {
  border: 5px solid $red !important;
}
