.tag-item {
  display: inline-block;
  margin: 5px;
}

.tag-selector {
  position: absolute;
  transform: scale(0);
}

.tag-selector + label {
  transition: all ease-in-out 0.3s;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7rem;
  border-radius: 50rem;
  padding: 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  margin: 0.1rem;
}

.tag-selector:checked + label {
  background-color: $red;
  color: white;
}

.tag-selector + label:hover{
  background-color: $red;
  color: #fff;
}

.category-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  padding: 7px 19px 4px 22px;
  border-radius: 4px;
}