// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
}

.nav-link {
  font-family: "Press Start 2P", cursive;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}

.nav-link:hover {
  color: white;
  border: 1px solid white;
}

.score {
  margin-top: 50px;
  text-align: center;
  font-size: 24px;
  position: relative;
}

.banner p {
  font-size: 18px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}


.title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}


.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
}

.white-link {
  color: white;
}

.buttons-container a {
  background-color: transparent;
  color: white;
}

.buttons-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
height: calc(100vh - 56px);
}


.create-button, .join-button {
  border-radius: 7px;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #000;
  border: 2px solid transparent;
  text-decoration: none;
  display: block;
  transition: all ease-in-out 0.3s;
}

.create-button:hover, .join-button:hover {
  color: $red;
  border-color: #fff;
}

.nav-link {
  color: white;
}

.align-button-center{
  width: 100%;
  display: flex;
  justify-content: center;

}

.left-gif {
  width: 150px;
  position: absolute;
  left: 580px;
  top: 50%;
  transform: translateY(-50%);
}

.right-gif {
  width: 133px;
  margin: -30px;
  position: absolute;
  right: 580px;
  top: 54%;
  transform: translateY(-50%);
  margin-right: -10px;
}
