.question{
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  border-radius: 50rem;
  padding: 0.1rem 0.5rem;
  background-color: #ECEAFF;
  color: #7E73FF;
  border: 1px solid #7E73FF;
  margin-right: 0.6rem;
}
.question:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
