.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-games-title {
  color: white;
  font-family: "Press Start 2P", cursive;
  font-size: 24px;
}

.games-wrapper {
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
  font-size: 14px;
}