<div class="buttons-container text-center">
  <div>
    <%= link_to "Start Game", games_path(@game), data: { turbo_method: :post }, class: "button create-button mb-5" %>
    <%= link_to "Join Game", games_path, class: "button join-button" %>
  </div>
</div>
