<div class="buttons-container text-center w-100 justify-content-evenly">
  <img src="/assets/test-1.gif" alt="Gif 1" class="left-gif">
  <div>
    <%= link_to "Start Game", games_path(@game), data: { turbo_method: :post }, class: "button create-button mb-5", id: "start-game-button" %>
    <%= link_to "Join Game", games_path, class: "button join-button" %>
  </div>
  <img src="/assets/test-2.gif" alt="Gif 2" class="right-gif">
</div>
