<%= render "games/progress_bar", game: @game %>

<div data-controller="question">
  <div class="question-title" data-question-target="title">
    <%= qcm.question %>
  </div>

  <% answers = [qcm.answer_one, qcm.answer_two, qcm.answer_true].shuffle %>

  <% answers.each do |answer| %>
    <div class="question mt-2" data-question-target="question" data-action="click->swap#swap" data-correct="<%= answer == qcm.answer_true %>">
      <%= answer %>
    </div>
  <% end %>
</div>



<%# <script>
  document.addEventListener('DOMContentLoaded', () => {
    const questionTitle = document.querySelector('.question-title');
    const questions = document.querySelectorAll('.question');

    questions.forEach((question) => {
      question.style.opacity = '0';
      question.style.visibility = 'hidden';
    });

    const showQuestions = () => {
      questionTitle.classList.add('show');

      questions.forEach((question, index) => {
        setTimeout(() => {
          question.style.opacity = '1';
          question.style.visibility = 'visible';
        }, (index + 1) * 300);
      });
    };

    questionTitle.addEventListener('transitionend', showQuestions);

    setTimeout(() => {
      questionTitle.classList.add('show');
    }, 300);
  });
</script> %>




<%# <script>
  document.addEventListener('DOMContentLoaded', () => {
    const questionElements = document.querySelectorAll('.question');

    questionElements.forEach((questionElement) => {
      questionElement.addEventListener('click', () => {
        questionElements.forEach((element) => {
          element.classList.remove('selected');
          element.classList.remove('correct');
          element.classList.remove('incorrect');
        });

        questionElement.classList.add('selected');

        const isCorrect = questionElement.getAttribute('data-correct') === 'true';

        if (isCorrect) {
          questionElement.classList.add('correct');
        } else {
          questionElement.classList.add('incorrect');
        }
      });
    });
  });
</script> %>
