<div class="question-title">
  <%= qcm.question %>
</div>
  <div class="question mt-2" data-action="click->swap#swap" data-correct="false">
    <%= qcm.answer_one %>
  </div>
  <div class="question mt-2" data-action="click->swap#swap" data-correct="false">
    <%= qcm.answer_two %>
  </div>
  <div class="question mt-2" data-action="click->swap#swap" data-correct="true">
    <%= qcm.answer_true %>
  </div>
