<li class="question ">
  <%= qcm.question %>
  <div class="d-flex align-items-center justify-content-center mt-4">
    <div class="question" data-action="click->swap#swap" data-correct="false">
      <%= qcm.answer_one %>
    </div>
    <div class="question" data-action="click->swap#swap" data-correct="false">
      <%= qcm.answer_two %>
    </div>
    <div class="question" data-action="click->swap#swap" data-correct="true">
      <%= qcm.answer_true %>
    </div>
  </div>
</li>
