<h2 style="font-family: 'Press Start 2P', cursive; margin-top: -200px; color: white;">Your Score</h2>

<div class="score">
  <%= user_game.score %>
</div>

<%# <%= javascript_include_tag 'score-animation' %>
