<div class="banner choose-language-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('Background-UFCode.png') %>); height: 100vh; background-size: cover;">
  <div class="container">
    <div class="choose-language-form-container">
      <h1 class="choose-language-title">Choose your language</h1>

      <%= form_with url: game_choose_level_path(@game), method: :get, html: { class: "choose-language-form centered-form" } do |f| %>
        <%= f.select :languages, Qcm::LANGUAGES %>
        <%= f.submit 'Select', class: "choose-language-submit-button submit-button" %>
      <% end %>
    </div>
  </div>
</div>
