<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('Background-UFCode.png') %>); height: 100vh; background-size: cover;">
  <div class="container">
    <div class="choose-level-form-container">
      <h1 class="choose-level-title">Choose a level</h1>


      <%= simple_form_for :qcm, url: game_game_qcms_path(@game), method: :post do |f| %>
        <%= f.input :level,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Qcm::LEVELS %>
        <%= f.submit 'Select', class: "submit-button" %>
      <% end %>
    </div>
  </div>
</div>
