<h1>choisi le niveau de difficultée</h1>

<%= simple_form_for url: game_game_qcms_path(@game), method: :post do |f| %>
  <%= f.input :avatar,
            as: :radio_buttons,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector'},
            collection: Qcm::LEVELS %>
  <%= f.submit 'Select', class: "submit-button" %>
<% end %>
