<h1>Choose a language</h1>
<%= simple_form_for :qcm, url: game_choose_level_path(@game), html: { "data-controller": "selection" }, method: :get  do |f| %>
  <%= f.input :languages,
      as: :radio_buttons,
      legend_tag: false,
      label_method: lambda { |cat| render 'languages', cat: cat },
      label_html: {class: "px-0"},
      input_html: {class: 'category-selector', "data-selection-target": "radioButton", "data-action": "click->selection#change"},
      item_wrapper_class: 'category-item col-4',
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      collection: Qcm::LANGUAGES %>
  <div class="align-button-center">
    <%= f.submit 'Select', class: "button create-button col-4 mb-3", "data-selection-target": "selectButton", disabled: true %>
  </div>
<% end %>
