<h1>Choose a level</h1>
<%= simple_form_for :qcm, url: game_game_qcms_path(@game), method: :post do |f| %>
  <%= f.input :level,
      legend_tag: false,
      as: :radio_buttons,
      label_method: lambda { |level| render "level", level: level },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item col-4',
      input_html: {class: 'category-selector'},
      collection: Qcm::LEVELS %>
  <div class="align-button-center">
    <%= f.submit 'Select', class: "button create-button" %>
  </div>
<% end %>

<div>
  <img src="<%= asset_path('test-4.gif') %>" alt="Gif 4" class="gif-level">
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const levelRadios = document.querySelectorAll('input[name="qcm[level]"]');
    const selectButton = document.querySelector('.create-button');

    // Désactiver le bouton "Select" au chargement de la page
    selectButton.disabled = true;

    // Vérifier si un niveau est déjà sélectionné au chargement de la page
    levelRadios.forEach(function(radio) {
      if (radio.checked) {
        selectButton.disabled = false;
      }
    });

    // Ajouter un écouteur d'événement à chaque bouton radio de niveau
    levelRadios.forEach(function(radio) {
      radio.addEventListener('change', function() {
        // Vérifier si un niveau est sélectionné
        const selectedLevel = document.querySelector('input[name="qcm[level]"]:checked');
        if (selectedLevel) {
          // Activer le bouton "Select" si un niveau est sélectionné
          selectButton.disabled = false;
        } else {
          // Désactiver le bouton "Select" si aucun niveau n'est sélectionné
          selectButton.disabled = true;
        }
      });
    });
  });
</script>
