<h1>Choose a level</h1>
<%= simple_form_for :qcm, url: game_game_qcms_path(@game), method: :post, html: { id: 'level-form', "data-controller": "selection"  } do |f| %>
  <%= f.input :level,
      legend_tag: false,
      as: :radio_buttons,
      label_method: lambda { |level| render "level", level: level },
      collection_wrapper_tag: 'div',
      collection_wrapper_class: 'category-wrapper',
      item_wrapper_class: 'category-item col-4',
      input_html: {class: 'category-selector', "data-selection-target": "radioButton", "data-action": "click->selection#change"},
      collection: Qcm::LEVELS %>
  <div class="align-button-center">
    <%= f.submit 'Select', class: "button create-button", "data-selection-target": "selectButton", id: "select-button" %>
  </div>
<% end %>

<div>
  <img src="<%= asset_path('test-4.gif') %>" alt="Gif 4" class="gif-level">
</div>
