<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>


<% @games.each do |game| %>
  <% if game.lobby %>
    <div class="bg-secondary m-2 p-2 text-white">
      <%= link_to "JOIN", avatar_game_path(game) %>
    </div>
  <% end %>
<%end%>
