<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('Background-UFCode.png') %>); height: 100vh; background-size: cover; display: flex; flex-direction: column; justify-content: flex-start; align-items: center;">
  <nav class="navbar"></nav>
  <div class="container">
    <h1 class="choose-language-title">Choose a game to join</h1>
    <!-- Le reste du contenu de la page index -->
    <% @games.each do |game| %>
      <% if game.lobby %>
      <div class="join-button">
          <%= link_to "JOIN", avatar_game_path(game) %>
      </div>
      <% end %>
    <%end%>
  </div>
</div>
