<%= audio_tag "sound-fight.mp3", id: "game-start-audio" %>
<% if @game.user_games.count < 2 %>
  <div data-controller="game" data-game-game-id-value="<%= @game.id %>">
    Waiting For Opponent

  </div>
<% else %>

  <div id="timer">
    <script>
      const departMinutes = 1
      let temps = departMinutes * 60
      document.addEventListener('DOMContentLoaded', (event) => {
      var gameStartAudio = document.getElementById('game-start-audio');
      console.log(gameStartAudio)
      gameStartAudio.play();
      const timerElement = document.getElementById("timer")

      setInterval(() => {
        let minutes = parseInt(temps / 60, 10)
        let secondes = parseInt(temps % 60, 10)

        minutes = minutes < 10 ? "0" + minutes : minutes
        secondes = secondes < 10 ? "0" + secondes : secondes

        timerElement.innerText = `${minutes}:${secondes}`
        temps = temps <= 0 ? 0 : temps - 1

        // Vérifier si toutes les questions ont été répondues
        const answeredQuestions = document.querySelectorAll("[data-action='click->swap#swap'].answered")
        const totalQuestions = document.querySelectorAll("[data-action='click->swap#swap']").length

        if (answeredQuestions.length === totalQuestions) {
          timerElement.style.display = "none" // Masquer le timer
        }
      }, 1000)
          })
    </script>
  </div>
  <div>
    <ul data-controller="swap" data-user-game="<%= @user_game.id %>">
      <%= render "question", qcm: @game.qcms.first %>
    </ul>
  </div>
<% end %>
