<% if @game.user_games.count < 2 %>
  <div data-controller="game" data-game-game-id-value="<%= @game.id %>">
    Waiting For Opponent
  </div>
<% else %>

  <div>
    <% if @game.user_games.find_by(user: current_user).step == 5 %>
      <%= render "result", game: @game %>
    <% else %>
    <ul data-controller="swap" data-user-game="<%= @user_game.id %>">
      <%= render "question", qcm: @game.qcms[@game.user_games.find_by(user: current_user).step] %>
    </ul>
    <% end %>
  </div>
<% end %>