<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('Background-UFCode.png') %>); height: 100vh; background-size: cover;">
  <div class="container">
    <div class="user-games-form-container">
      <h1 class="user-games-title">Choose a Fighter</h1>

      <%= form_with model: @user_game, url: user_game_path(@user_game), method: :patch, html: { class: "user-games-form centered-form" } do |f| %>
        <%= f.select :avatar, UserGame::AVATAR_URL %>
        <%= f.submit 'Select', class: "user-games-submit-button submit-button" %>
      <% end %>
    </div>
  </div>
</div>
