<h1 class="user-games-title mt-5 align-items center">Choose a Fighter</h1>
<div class="user-games-form-container mt-4 w-75 mx-auto">
  <%= simple_form_for @user_game, html: { "data-controller": "selection" } do |f| %>
    <%= f.input :avatar,
        as: :radio_buttons,
        legend_tag: false,
        label_method: lambda { |photo| render 'avatar', photo: photo },
        input_html: { class: "tag-selector", required: true, "data-selection-target": "radioButton", "data-action": "click->selection#change" },
        item_wrapper_class: 'tag-item col-2 mx-0 d-flex justify-content-center',
        collection: UserGame::AVATAR_URL %>
    <div class="align-button-center">
      <%= f.submit 'Select', class: "button create-button", "data-selection-target": "selectButton" %>
    </div>
  <% end %>
</div>
