.height-leaderboard {
  height: 70vh;
  overflow: hidden;
  overflow: scroll;
}


#infinite-scroll-div {
  width: 50vw;
  font-size: 13px !important;
  animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-800px, 0, 0);
  }
}
